.divClass{
    color: rgb(7, 4, 178);
    font-size: 18px;
    margin: 50px;
    width: 400px;    
    
}
div{
    width: 400px;
    text-align: center;

    
}
.thirdDiv{
    height: 500;
    width: 500px;
    background-color: rgb(224, 237, 247);
    padding: 50px;
    border: 1px solid black;
    text-align: center;
}
body{
    background-image: url('image/fondo.jpg');
    background: rgb(0, 0, 0) transparent;
    
}

.container {
    display: grid;
    place-content: center;
  }